<div class="container">
  <h3>Choisir la taille</h3>
<select [(ngModel)]="taill" class="form-control" name="taill" id="">
 <option value="">Veuillez choisir la taille
 <option value="S">S
  <option value="M">M
  <option value="L">L
  <option value="XL">XL
  <option value="XXL">XXL
</select>  
  <h3>Choisir la quantité</h3>

  <div class="container" style="display: inline-flex ; ">
    <button class="col-3"type="button" (click)="minus()"><span>-</span></button>
    <input  class="col-6" type="text" style="text-align: center;" [value]="quantity" />
    <button  class="col-3"type="button" (click)="plus()"><span>+</span></button>
  </div> <br>
  <br>
  <button class="btn btn-danger" (click)="ajouterAuPanier()">Ajouter au panier</button><br>


</div> <br>
